<a href="https://colab.research.google.com/github/LDJWJ/00_PYTHON_LEVELUP_CLASS/blob/master/class00_python_200303.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
## 파이썬 시작하기
## CTRL + ENTER, SHIFT + ENTER
print(10)

10

In [0]:
print("Hello1")
print('Hello2')

Hello1
Hello2

In [0]:
a = 10     # a에 10을 넣어라. a를 일반적으로 변수(변하는 수)
print(a)
a =15
print(a)

10
15

In [0]:
a = 10       # 정수형 변수 
print(a)
print( type(a)   )

a = "hello"  # 문자형 변수
print(a)
print( type(a)  )

10
<class 'int'>
hello
<class 'str'>

In [0]:
# '+' 연산 (문자형 변수의 경우)
## 숫자나 특수문자로 시작이 되면 안된다.
## 공백이 들어가면 안된다.
# a! = (특수 문자가 들어가면 안된다.)
a = "Hello "
b = "world"
print(a + b)

Hello world

In [0]:
# '+' 연산 (정수형 변수의 경우)
a = 10
b = 20
print(a + b)

30

In [0]:
## 2-1. 로그인 (파이썬에서 주석이다.)
name = input("당신의 아이디는 ?")
pwd = input("당신의 패스워드는 ?")
print(name)
print(pwd)

## 2-2. 출력2
print("당신의 아이디는 :",name,"당신의 패스워드는 :",pwd)

당신의 아이디는 ?toto
당신의 패스워드는 ?1234
toto
1234
당신의 아이디는 : toto 당신의 패스워드는 : 1234

In [0]:
## (실습 2-1) 패스워드까지 입력

In [0]:
## 3-1 나이 입력 후, 출력
age = input("당신의 나이는?")
print(type(age))  ## 문자형 변수
print("당신의 나이는 :" + age)

당신의 나이는?30
<class 'str'>
당신의 나이는 : 30

In [0]:
print("당신의 나이는 :" + age)

당신의 나이는 :30

In [0]:
## 3-2 int() 함수
age = int(age)  # 숫자로 문자... "10" "111"
print(type(age))
print("당신의 10년 후의 나이는 ?", age+10)

<class 'int'>
당신의 10년 후의 나이는 ? 40

In [0]:
## 3-3 연산 
## +, -, **, %(나머지), //(몫)
print(9+9)   # 더하기
print(30/5)  # 나누기 
print(2**5)  # 2*2*2*2*2
print(17 % 4) # 나머지 1
print(17 // 4) # 몫 4

18
6.0
32
1
4

In [0]:
## 3-4 비교 연산자
## 같다 ==
## 틀리다 !=
## 크거나 같다 >=
## 작거나 같다 <=
## True, False
5 == 5   # True

True

In [0]:
print(5 != 5)   # False
age = 18
print(age >= 15) # True
age = 13
print(age >= 15) # False

False
True
False

In [0]:
## 3-5 and, or, not
## A and B : A와 B가 모두 True일 때 True, 하나라도 False있으면 False
True and True   # True

True

In [0]:
print(5==5 and 5>=3)  # True
print(5!=5 and 5>=3)  # False and True => False

True
False

In [0]:
## 3-5-1 and, or, not
## A or B : A와 B중에 하나라도 True가 있으면 결론적으로 True가 된다.그 외에는 False
print(5!=5 or 5>=3)  # False and True => True
## 19세 입장 금지 영화
## 출입조건 19세 이상이고, 남자 입장 가능
age = 17
sex = "M"
print(age >= 19 and sex=="M")  # True

## 출입조건 19세 이상이거나(또는) 아이가 있는 친구는 가능한 영화
age = 17
gubun = "P" # 부모
print(age >= 19 or gubun=="P")  # False or True  => True

True
False
True

In [0]:
## not A  # 단항 연산자
not False   # True

True

In [0]:
print(not 5==5) # False
age = 15
print(not age>=18)  # not False => True

False
True

In [0]:
## 3-6-1 if문
## 영화관 
## 15세 이상은 혼자 입장할 수 있다.
## 15세 미만은 부모님이 동반해야 한다.
alone = input("혼자 왔니?(Y/N)")
age = input("나이는 어떻게 되세요?")
age = int(age)

혼자 왔니?(Y/N)Y
나이는 어떻게 되세요?17

```
if (조건식):
[공백-indent]실행문1
[공백-indent]실행문2
else:
[공백-indent]실행문1(조건식이 False)
```

In [0]:
if (age>=15):
  print("입장 가능합니다.")
else:
  print("입장이 불가하다.")

입장 가능합니다.